@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 243, 243);
}

.home-container {
  margin: 30px auto;
  width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}
/* 
h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
} */

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type="text"],
input[type="number"],
select {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #4962a2;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus,
.delete-btn-table:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.plus {
  border-right: 5px solid #2ecc71;
}

.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.delete-btn-table {
  cursor: pointer;
  background-color: #e74c3c;
  color: #fff;
  font-size: 20px;
  border: 0;
  padding: 2px 5px;
  line-height: 20px;
  opacity: 0.8;
  /* right: 25% !important;
  transform: translate(-100%, -50%);
  position: absolute;
  top: 80%;
  transition: opacity 0.3s ease; */
}

.list li:hover .delete-btn,
.delete-btn-table:hover {
  opacity: 1;
}

.app-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  justify-items: center;
}

.expense {
  width: auto;
  padding: 10%;
  height: 50%;
  background: #f9d8cf;
  border-radius: 6px;
}
.income {
  width: auto;
  padding: 10%;
  background: #f9cea3;
  border-radius: 6px;
}

td,
th {
  border: 1px solid #999;
  padding: 20px !important;
}

/* td:last-child,
th:last-child {
  padding: 0;
  background-color: #f7f7f7 !important;
  border: none !important;
  box-shadow: none !important;
} */

td {
  border-color: #333;
}

table {
  border-spacing: 10px;
  border-collapse: collapse;
  background-color: white;
  box-shadow: var(--box-shadow);
  margin: 20px 0;
  padding: 20pxß;
}

tfoot {
  text-align: center;
}

.archive {
  display: none !important;
}

.text-custom {
  color: #0062ff !important;
}

.loginbtn {
  padding-right: 1rem;
}

nav {
  background-color: white;
  padding: 0% !important;
}

.nav-header {
  position: relative;
  z-index: 1;
  webkit-box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
  box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
  padding-bottom: 60px;
}